.auth_page {
  /* width: 100%; */
  min-height: 100vh;
  background: #fdfdfd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth_page form {
  background: #fff;
  max-width: 400px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 25px;
}

.auth_page form .pass {
  position: relative;
}

.auth_page form .pass small {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.5;
}

@media only screen and (max-width: 800px) {
  .slide-container {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .main-content {
    margin-top: 0;
  }
}

.slide-container {
  height: 618px;
  background: url(../images/phone-frame.png) no-repeat;
  flex-basis: 454px;
}

.slide-content {
  margin: 26px 0 0 156px;
  position: relative;
}

.slide-content img {
  position: absolute;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 1.5s ease-in-out;
}

.slide-content img.active {
  opacity: 1;
  -webkit-transition: opacity 1.5s ease-out;
  transition: opacity 1.5s ease-out;
  visibility: visible;
}
