.supper-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.half-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.big-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.medium-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.small-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.avatar-32px {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
