.comment_input {
  display: flex;
  align-items: center;
}
.comment_input input {
  background: #f7f7f7;
  border: none;
  outline: none;
  flex: 1;
  overflow: auto;
}
.comment_input .postBtn {
  border: none;
  outline: none;
  background: #f7f7f7;
  color: blue;
  font-weight: 600;
}
.comment_input .dropdown-menu {
  transform: translate3d(-8px, -200px, 0px) !important;
}

/* ---------- Comments ---------- */
.myCmt {
  box-shadow: 16px -4px #000000;
}

.yourCmt {
  /* box-shadow: 16px -4px rgb(77 121 255); */
  box-shadow: none;
}

.comment_display {
  padding: 10px 25px;
}
.comment_card .comment_content {
  background: #eee;
  padding: 7px;
  border-radius: 10px;
  border-top-left-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment_card .comment_content .readMore {
  cursor: pointer;
  color: crimson;
}

.comment_card .comment_content .nav-item {
  cursor: pointer;
  opacity: 0;
}
.comment_card .comment_content:hover .nav-item {
  opacity: 1;
}
.comment_card .comment_content .dropdown-menu {
  position: absolute;
  right: 0;
  left: inherit;
}
.comment_card .comment_content .dropdown-item {
  display: flex;
  margin: 10px 0;
}
.comment_card .comment_content textarea {
  width: 100%;
  border: none;
  resize: none;
  outline: none;
}

@media only screen and (max-width: 500px) {
  .wrap__posts .posts {
    width: 100% !important;
  }
}

.wrap__posts .carousel-item img,
.wrap__posts .carousel-item video,
.posts .carousel-item img,
.posts .carousel-item video {
  max-height: 600px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: white;
}
