@media (max-width: 500px) {
  .css-pdct74-MuiTablePagination-selectLabel {
    display: none;
  }
  .css-16c50h-MuiInputBase-root-MuiTablePagination-select {
    margin: 0px !important;
  }
  .sideBarForMobile {
    visibility: visible !important;
    width: 100% !important;
    height: 100% !important;
  }
  .sideBarForPC {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.sideBarForMobile {
  visibility: hidden;
  width: 0;
  height: 0;
}

.css-levciy-MuiTablePagination-displayedRows,
.css-pdct74-MuiTablePagination-selectLabel {
  margin: 0px !important;
}
.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
  padding: 0px !important;
}

.admin tr {
  cursor: pointer;
  position: relative;
}

.admin h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 500;
  border-left: 3px solid #da0404;
  padding: 8px;
}

.admin h1 span {
  border: 1px solid;
  border-radius: 5px;
  color: #92929e;
  font-size: 11px;
  margin-left: 4px;
  padding: 1px 6px;
  vertical-align: middle;
}

.admin tr:hover {
  background: #ddd;
}

button {
  outline: none !important;
}

.css-1wnsr1i {
  height: 80% !important;
}

.admin_page {
  width: 100%;
  height: 100%;
  background: #fdfdfd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin_page form {
  height: 100%;
  overflow: scroll;
  background: #fff;
  max-width: 400px;
  width: 100%;
  border: 1px solid #ddd;
  padding: 50px 25px;
}

.admin_page form .pass {
  position: relative;
}

.admin_page form .pass small {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.5;
}

.admin_page .info_avatar {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  margin: 15px auto;
  border: 1px solid #ddd;
  cursor: pointer;
}
.admin_page .info_avatar img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.admin_page .info_avatar span {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 50%;
  text-align: center;
  color: orange;
  transition: 0.3s ease-in-out;
  background: #fff5;
}
.admin_page .info_avatar:hover span {
  bottom: -15%;
}
.admin_page .info_avatar #file_up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
::-webkit-file-upload-button {
  cursor: pointer;
}
/* POST  */

.post__admin__container img,
.post__admin__container video {
  max-height: 500px !important;
}

.admin__post .status_modal {
  position: fixed;
  top: 0;
  left: 0;
  background: #0008;
  z-index: 4;
  width: 100%;
  height: fit-content !important;
  overflow: auto;
}

.admin .admin__post .css-1wnsr1i {
  top: 25% !important;
  height: 80% !important;
  background: transparent !important;
}
/* COMMENTS */
.admin .comments {
  overflow: scroll !important;
}

.css-otobl4 {
  width: fit-content !important;
}

.comment__admin__container {
  display: flex;
}

.comment__admin__container img,
.comment__admin__container video {
  max-height: 500px !important;
}

.left__container {
  margin: 0 4px 0 0;
  border-right: 1px solid #ddd;
}

.right__container {
  margin: 0 0 0 4px;
}

@media (max-width: 500px) {
  .comment__admin__container {
    display: block;
    height: 75vh;
    overflow-y: scroll;
  }
}

/* STORY */

.story__admin__container img,
.story__admin__container video {
  max-height: 500px !important;
}
