.myCustomButton {
  border: none;
  position: relative;
  background: #444;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.5s;
}
.myCustomButtonLoad::before {
  background: none !important;
}
.myCustomButton:hover {
  letter-spacing: 0.25em;
  background: var(--clr);
  color: var(--clr);
  box-shadow: 0 0 35px var(--clr);
}

.myCustomButton::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #27282c;
}

.myCustomButton span {
  position: relative;
  z-index: 1;
  color: white;
}

.myCustomButton:hover span {
  color: var(--clr);
}

.myCustomButton i {
  position: absolute;
  inset: 0;
  display: block;
}

.myCustomButton i:before {
  content: "";
  position: absolute;
  top: -3.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--clr);
  background: #27282c;
  transform: translateX(-50%);
  transition: 0.5s;
}

.myCustomButton:hover i:before {
  width: 20px;
  left: 20%;
}

.myCustomButton i:after {
  content: "";
  position: absolute;
  bottom: -3.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--clr);
  background: #27282c;
  transform: translateX(-50%);
  transition: 0.5s;
}

.myCustomButton:hover i:after {
  width: 20px;
  left: 80%;
}
