@font-face {
  font-family: Valorant;
  src: url(../font/Valorant\ Font.ttf);
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.font_valorant {
  font-family: Valorant !important;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}

a:hover {
  text-decoration: none;
  opacity: 0.75;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#theme {
  display: none;
}
#theme:checked ~ * {
  filter: invert(1);
}

.App {
  width: 100%;
  min-height: 100vh;
  background: white;
}

.main {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.hobby-item {
  transition: all 0.5s;
}

.hobby-item:hover {
  transition: all 0.5s;
  opacity: 0.7;
  border: 3px solid #ff1867;
}

.hobbyActive {
  transition: all 1s;
  border: 3px solid #ff1867;

  background-size: 120% !important;
}

.hobbyActive p {
  transition: all 1s;
  color: #ff1867;
}

.hobby-item:hover p {
  transition: all 1s;
  color: #111;
}

img {
  object-fit: cover;
}

.button {
  transition: all 0.5s;
}

.button:hover {
  transition: all 0.5s;
  opacity: 0.5;
}

.css-og52vs-MuiTableCell-root.MuiTableCell-head {
  white-space: nowrap !important;
}

.buttonFile:hover .button {
  transition: all 0.5s;
  opacity: 0.5;
}

/* AUTH */
@import url("./auth.css");

/* LOADING */
@import url("./loading.css");

/* HEADER */
@import url("./header.css");

/* AVATAR*/
@import url("./avatar.css");

/* PROFILE*/
@import url("./profile.css");

/* HOME*/
@import url("./home.css");

/* status_modal*/
@import url("./status_modal.css");

/* Comments*/
@import url("./comments.css");

/* Post_Thumb*/
@import url("./post_thumb.css");

/* Stories*/
@import url("./stories.css");

/* ERROR */
@import url("./erorr.css");

/* MESSAGE */
@import url("./message.css");

/* -------- Icons---------- */
@import url("./icons.css");

/* -------- Call Modal---------- */
@import url("./call_modal.css");

/* -------- STORY Modal---------- */
@import url("./story.css");

/* -------- DIALOG Modal---------- */
@import url("./dialog.css");

/* -------- DASH BOARD---------- */
@import url("./dashboard.css");

/* -------- FOLLOW BUTTON---------- */
@import url("./followBtn.css");

.mode {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.imgHover:hover {
  opacity: 0.75;
}

.MuiTab-root.Mui-selected {
  outline: none;
}

#vertical-tabpanel-0,
#vertical-tabpanel-1,
#vertical-tabpanel-2,
#vertical-tabpanel-3 {
  width: 90%;
}

/* .btn-toggle {
  background: black;
  color: white;
  border-radius: 100px;
} */

.btn-toggle {
  border-radius: 100px;

  border-color: black;
  color: black;
  background-image: -webkit-linear-gradient(45deg, black 50%, transparent 50%);
  background-image: linear-gradient(45deg, black 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.btn-toggle:hover,
.show .btn-toggle {
  color: #fff;
  background-position: 0;
}

.dropdown-item:hover {
  background: black !important;
}

.Image-styles_image__gnfW1 {
  object-fit: contain !important;
}

/* ANIMATION */

.animate {
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-name: animate-fade;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards;
}

/* Fade In */
.fade {
  animation-name: animate-fade;
  animation-timing-function: ease;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Slide In */
.slide {
  animation-name: animate-slide;
}

@keyframes animate-slide {
  0% {
    opacity: 0;
    transform: translate(0, 40px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Left */
.slide-left {
  animation-name: animate-slide-left;
}

@keyframes animate-slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Right */
.slide-right {
  animation-name: animate-slide-right;
}

@keyframes animate-slide-right {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Logo */
.slide-logo {
  animation-name: slide-logo;
}

@keyframes slide-logo {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Animation Delays */
.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}
.delay-3 {
  animation-delay: 0.9s;
}
.delay-4 {
  animation-delay: 1.2s;
}
.delay-5 {
  animation-delay: 1.5s;
}
.delay-6 {
  animation-delay: 1.8s;
}
.delay-7 {
  animation-delay: 2.1s;
}
.delay-8 {
  animation-delay: 2.4s;
}
.delay-9 {
  animation-delay: 2.7s;
}
.delay-10 {
  animation-delay: 3s;
}
.delay-11 {
  animation-delay: 3.3s;
}

.image-gallery {
  width: 100%;
  height: 50vh;
}

.image-gallery-slide img {
  width: 100%;
  height: 50vh;
  max-height: 80vh;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: calc(50vh - 80px) !important;
}

.fullscreen .image-gallery-slide img {
  max-height: 100vh;
}

@media only screen and (max-width: 500px) {
  .camera {
    display: none !important;
  }
  .div__album {
    margin: 120px 0 0 0 !important;
  }
  .detail__album.MuiBox-root.css-e6tz60 {
    width: 90% !important;
    height: 70vh !important;
  }
  .follow_box {
    width: 80% !important;
  }

  .image-gallery {
    width: 100%;
    height: 20vh !important;
  }
  .image-gallery-image {
    height: 20vh !important;
  }
  .fullscreen .image-gallery-slide img {
    max-height: 20vh !important;
  }
}
