.header {
  width: 100%;
  min-height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0 0 4px #ddd;
  background: linear-gradient(45deg, white 40%, black 50%);
  border: 1px solid rgb(0, 0, 0, 0.125);
}
.header .navbar {
  width: 100%;
  height: 100%;
}
.header .logo h1 {
  font-size: 2rem;
}

/* ----------- Header Menu ---------- */
/* .header .menu li {
  opacity: 0.5;
}
.header .menu li.active {
  opacity: 1;
} */
.header .menu .material-icons {
  font-size: 30px;
}
.header .menu .dropdown-menu {
  position: absolute;
  left: inherit;
  right: 0;
}
.header .menu label {
  cursor: pointer;
}

.header .menu .notify_length {
  position: absolute;
  top: 5px;
  right: 0px;
  font-size: 10px;
  width: 15px;
  height: 15px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* ---------- Header Search -------- */
.header .search_form {
  position: relative;
}
.header .search_form #search {
  padding: 5px 0;
  text-align: center;
  background: rgba(var(--bb2, 239, 239, 239), 1);
  border: 1px solid #ddd;
  min-width: 250px;
  width: 100%;
  outline: none;
  text-indent: 5px;
  border-radius: 8px;
}
.header .search_form .search_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  pointer-events: none;
}
.header .search_form .search_icon .material-icons {
  font-size: 22px;
  transform: translateY(3px);
}
.header .search_form .close_search {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  font-weight: 900;
  color: crimson;
}
.header .search_form .users {
  position: absolute;
  width: 100%;
  min-width: 250px;
  background: #fafafa;
  max-height: calc(100vh - 150px);
  overflow: auto;
  margin-top: 3px;
}
.header .search_form .loading {
  position: absolute;
  top: 50%;
  right: 5px;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);
}

/* ---------- DISCOVER Search -------- */
.myDiscover {
  padding-top: 18px;
  margin-bottom: 100px;
}

.myDiscover .search_form {
  display: none;
  margin: auto;
  position: relative;
  width: 60%;
}
.myDiscover .search_form #search {
  padding: 5px 0;
  text-align: center;
  background: rgba(var(--bb2, 239, 239, 239), 1);
  border: 1px solid #ddd;
  /* min-width: 250px; */
  width: 100%;
  outline: none;
  text-indent: 5px;
  border-radius: 8px;
}
.myDiscover .search_form .search_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  pointer-events: none;
}
.myDiscover .search_form .search_icon .material-icons {
  font-size: 22px;
  transform: translateY(3px);
}
.myDiscover .search_form .close_search {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-weight: 900;
  color: crimson;
}
.myDiscover .search_form .users {
  z-index: 1;
  position: absolute;
  width: 100%;
  min-width: 250px;
  background: #fafafa;
  max-height: calc(100vh - 150px);
  overflow: auto;
  margin-top: 3px;
}
.myDiscover .search_form .loading {
  position: absolute;
  top: 50%;
  right: 5px;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);
}

.myModalNotify {
  width: 500px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.menu__mobile {
  z-index: 9999;
  display: none;
  position: fixed;
  top: 93vh;
}

@media (max-width: 500px) {
  .menu__mobile {
    display: block;
  }
  .myDiscover .search_form {
    width: 80%;
  }
  .header .navigation {
    display: none;
  }
  .header {
    background: white;
    opacity: 0.75;
  }
}

@media (max-width: 768px) {
  .myModalNotify {
    width: 350px;
  }

  .myDiscover .search_form {
    display: block;
  }

  .header .search_form {
    display: none;
  }

  .header .lv_social_logo {
    width: 40% !important;
  }
  .header {
    opacity: 0.75;
  }
  .header .menu {
    /* margin: 50px 0 0 0; */
    filter: none !important;
    background: #f8f9fa;
    position: fixed;
    top: calc(100vh - 50px);
    left: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 10px #ddd;
    z-index: 2;
  }

  .header .menu .navbar-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .header .menu .dropdown-menu {
    bottom: 100%;
    top: auto;
  }

  .header .search_form {
    width: 100%;
  }

  .header .logo {
    margin: auto;
  }

  .header .logo h1 {
    font-size: 1.5rem;
  }
}

.nav-link {
  padding: 0px;
}

.myAvatarButton {
  padding: 1px !important;
  border-radius: 50%;
  border: 2px solid #38b6ff;
}

.myActiveProfile {
  border: 2px solid black;
}

/* MENU MOBILE  */

:root {
  --clr: white;
}

.navigation {
  position: relative;
  width: 400px;
  height: 70px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 10px; */
}
.navigation ul {
  display: flex;
  width: 350px;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a,
.fakeA {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li a .icon,
.fakeA .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
}
.navigation ul li.active a .icon,
.navigation ul li.active .fakeA .icon {
  transform: translateY(-32px);
}
.navigation ul li a .text,
.fakeA .text {
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
.navigation ul li.active a .text,
.navigation ul li.active .fakeA .text {
  opacity: 1;
  transform: translateY(10px);
}

.indicator {
  box-shadow: 0 0 35px #1e9bff;
  position: absolute;
  top: -50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  border: 6px solid black;
  transition: 0.5s;
}
/* .indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background-color: black;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 black;
}
.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background-color: black;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 black;
} */

.navigation ul li.active a .icon,
.navigation ul li.active .fakeA .icon {
  color: black !important;
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(58px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(58px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(58px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(58px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(58px * 4));
}
.navigation ul li:nth-child(6).active ~ .indicator {
  transform: translateX(calc(58px * 5));
}

li.active .notify_new {
  bottom: 32%;
}

.notify_new {
  position: absolute;
  width: 4px;
  font-size: 1rem;
  bottom: 27%;
  right: calc(57% - 4px);
  background: red;
  height: 4px;
  border-radius: 10px;
}
/* END MENU_MOBILE */
