.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading svg {
  font-size: 5px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  animation: text 1s ease-in-out infinite;
}
@keyframes text {
  50% {
    opacity: 0.1;
  }
}
.loading polygon {
  stroke-dasharray: 22;
  stroke-dashoffset: 1;
  animation: dash 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    alternate-reverse;
}
@keyframes dash {
  to {
    stroke-dashoffset: 234;
  }
}
.loadingP {
  font-size: 35px;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  animation: text 1s ease-in-out infinite;
}
.music {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 300px;
  height: 200px;
}

.music .bar {
  width: 12px;
  height: 2px;
  border-radius: 10px;
  background-color: white;
  animation: up_down 1.5s ease-in-out infinite;
}

@keyframes up_down {
  0%,
  100% {
    height: 2px;
  }

  50% {
    height: 80px;
  }
}

.music .bar:nth-child(1) {
  background-color: rgb(0, 0, 0);
  animation-delay: 1s;
}

.music .bar:nth-child(2) {
  background-color: rgb(0, 0, 0);
  animation-delay: 0.8s;
}

.music .bar:nth-child(3) {
  background-color: rgb(0, 0, 0);
  animation-delay: 0.6s;
}

.music .bar:nth-child(4) {
  background-color: rgb(0, 0, 0);
  animation-delay: 0.4s;
}

.music .bar:nth-child(5) {
  background-color: rgb(0, 0, 0);
  animation-delay: 0.2s;
}

.music .bar:nth-child(6) {
  background-color: rgb(0, 0, 0);
  animation-delay: 0.2s;
}

.music .bar:nth-child(7) {
  background-color: rgb(0, 0, 0);
  animation-delay: 0.4s;
}

.music .bar:nth-child(8) {
  background-color: rgb(0, 0, 0);
  animation-delay: 0.6s;
}

.music .bar:nth-child(9) {
  background-color: rgb(0, 0, 0);
  animation-delay: 0.8s;
}

.music .bar:nth-child(10) {
  background-color: rgb(0, 0, 0);
  animation-delay: 1s;
}
