#story_container h1 {
  color: white;
}
#story_container #list_user_story {
  box-shadow: none !important;
}

.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png")
    no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}
.story_liked {
  transition-duration: 1s;
  background-position: -2800px 0;
}

.stage {
  z-index: 2;
  position: absolute;
  top: auto;
  right: 2rem;
  /* position: fixed;
  top: 17%;
  left: 57%;
  transform: translate(-50%, -50%); */
}
